KurisuMakise/config.py
KurisuMakise/*.session
KurisuMakise/*.session-journal
KurisuMakise/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
KurisuMakise/modules/helper_funcs/temp.txt
KurisuMakise/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
KurisuMakise.session-journal
updates.txt
*.exe